<header>
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-2 col-xs-2 logo">
        <h1>
         UPLOAD to Jukedec
        </h1>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <p>
          Please upload several .mp3 files (no more than 100mb total), properly tagged with ID3 metadata, all under the same artist. One upload per artist is allowed.
        </p>
        <p>
          Jukedec will process the files, and create a custom page based on your album art and song lyrics, automatically! An example can be found at <a href="http://play.jukedec.com/Setlers">here</a>!
        </p>
         <form action="/uploadPost" method="POST" enctype="multipart/form-data">
          <label for="files">Select files:</label>
          <input type="file" id="files" name="files" multiple><br><br>
          <input type="submit" value="Submit*">
          <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
        </form>
        <p>
          * By clicking the Submit button, you certify that you are legally entitled to license this music. You certify that you allow Jukedec to distribute this music for streaming (and downloading until we figure out DRM)
        </p>

      </div>
            <div class="container">
        <p>
          Brought to you by <a href="https://frigginglorio.us">frigginGlorious</a>.
        </p>
      </div>
    </div>
  </div>
</div>
